import sys
import unittest

from src import (
    {{ aggregate }},
    {{ aggregate }}CommandService,
)

from minos.networks import (
    InMemoryRequest,
    Response,
)
from tests.utils import (
    build_dependency_injector,
)


class Test{{aggregate}}CommandService(unittest.IsolatedAsyncioTestCase):

    def setUp(self) -> None:
        self.injector = build_dependency_injector()

    async def asyncSetUp(self) -> None:
        await self.injector.wire_and_setup_injections()

    async def asyncTearDown(self) -> None:
        await self.injector.unwire_and_setup_injections()

    def test_constructor(self):
        service = {{ aggregate }}CommandService()
        self.assertIsInstance(service, {{aggregate}}CommandService)

    async def test_create_{{ aggregate.lower() }}(self):
        service = {{ aggregate }}CommandService()

        request = InMemoryRequest({})
        response = await service.create_{{ aggregate.lower() }}(request)

        self.assertIsInstance(response, Response)

        observed = await response.content()
        expected = {{ aggregate }}(
            created_at=observed.created_at,
            updated_at=observed.updated_at,
            uuid=observed.uuid,
            version=observed.version,
        )

        self.assertEqual(expected, observed)


if __name__ == '__main__':
    unittest.main()
