apiVersion: v1
kind: Service
metadata:
  name: {{ project_name }}-{{ name }}
  namespace: {{ project_name }}
spec:
  type: ClusterIP
  ports:
    - port: {{ rest_port }}
      targetPort: {{ rest_port }}
  selector:
   app.kubernetes.io/name: {{ project_name }}-{{ name }}