version: "3.9"

x-microservice-environment: &microservice-environment
  - MINOS_BROKER_QUEUE_HOST=postgres
  - MINOS_BROKER_HOST=kafka
  - MINOS_REPOSITORY_HOST=postgres
  - MINOS_SNAPSHOT_HOST=postgres
  - MINOS_DISCOVERY_HOST=discovery

x-microservice-depends-on: &microservice-depends-on
  - postgres
  - kafka
  - discovery

volumes:
  postgres_volume:
  kafka_volume:

services: